.titleImage {
	position: absolute;
	top:0;
	width: 100%;
	height: 10%;	
	background: white;
}

.middleContent {
	position: absolute;
	top: 10%;	
	height: 35%;	
	width: 100%; 
	background: white;
	box-shadow: 0px 5px 4px #333333;
	z-index: 2;
	

}

.overviewContent {
	position: absolute;
	top: 10%;	
	height: 60%;	
	width: 100%; 
	background: white;
	box-shadow: 0px 5px 4px #333333;
	z-index: 2;
	

}

.middleContentMap {
	position: absolute;
	top: 45%;	
	height: 25%;	
	width: 100%; 
	background: white;
	box-shadow: 0px 5px 4px #333333;
	
	
}

.bottomGraph {
	position: absolute;
	top: 70%;	/*70*/
	width: 100%; /*100*/
	height: 30%; /*30*/
	background: white;
	z-index: 1;
}


.time {
	font-size: 1.5em;
	font-weight: 700;
	margin-left: 3%;
}

.floorButtonContainer {
	display: inline-block;
	vertical-align: top;
	width: 94%;
	height: 80%;
	margin-left: 3%;
 	margin-right: 4%;
}

.emptyBarGraph {
	display: inline-block;
	width: 25%;
	height: 80%;
	background: orange;
}

.floorButton {
    overflow: hidden;
    display: block;
    margin-bottom: 1px;
    width: 100%;
    height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(180,180,180);
}

.floorButtonHighlight {
    display: inline-block;
    height: 100%;
    width: 3px;
    background: red;

}
.floorButtonBody {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: calc(100% - 3px);
    background: rgb(247, 248, 252);
    height: 100%;
}
.floorButtonText {
    display: inline-block;
    height: 100%;
    font-size: 1em;
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 5px;

}
.floorButtonEmptySpots {
	display: inline-block;
	height: 100%;
	font-size: 0.7em;
	float: right;
	margin-top: 8px;
	margin-right: 10px;
}
